<p>Eclipse provides project templates for building static and dynamic web projects. Static web projects include files that contain HTML and client-side JavaScript code. Dynamic web projects typically include files that contain Java Server Pages (JSP), which run at the server. Azure App Service supports both static and dynamic web projects.</p>

<p>In this unit, you'll learn the basics for how to use Eclipse to create dynamic web projects. In the next unit, you will complete an exercise where you create a dynamic web project, which you can deploy as an Azure web app.</p>

<h2>How to create dynamic web apps</h2>

<p>To create a dynamic web app, on the <strong>File</strong> menu in Eclipse, select <strong>New</strong>, and then select <strong>Dynamic Web Project</strong>.</p>

<blockquote>
  <p>[!div class="mx-imgBorder"]<br />
  <img src="../media/2-new-dynamic-web-project.png" alt="Screenshot of the <strong>New</strong> menu in Eclipse. The user has selected the <strong>Dynamic Web Project</strong> command." /></p>
</blockquote>

<p>The <strong>Dynamic Web Project</strong> wizard prompts you for the basic details of the project. The only mandatory item is the project name; the wizard provides default values for all remaining properties and configuration details. However, you should verify the target runtime in order to determine the functionality that you will use in your web app. In the following screenshot, the user has selected the <strong>Apache Tomcat v8.0</strong> server. This server is useful for testing and debugging locally. You can deploy the web app to Azure after you've tested it.</p>

<blockquote>
  <p>[!div class="mx-imgBorder"]<br />
  <img src="../media/2-dynamic-web-app-wizard.png" alt="Screenshot of the <strong>Dynamic Web Project</strong> wizard in Eclipse." /></p>
</blockquote>

<h2>How to create static and dynamic web pages</h2>

<p>After you have created a dynamic web app, you add resources to the project - such as HTML files, JSP files, and CSS style sheets - using the <strong>Project Explorer</strong> window. For example, to add a new JSP page to the project, right-click the project name in the <strong>Project Explorer</strong> window, select <strong>New</strong>, and then select <strong>JSP File</strong>.</p>

<blockquote>
  <p>[!div class="mx-imgBorder"]<br />
  <img src="../media/2-new-jsp-file.png" alt="Screenshot of Eclipse. The user is creating a new JSP file for the dynamic web project." /></p>
</blockquote>

<p>Eclipse generates the basic boilerplate code for a web page. You can then use the HTML editor to create the HTML markup that defines the main part of your web page. To help you, the editor includes IntelliSense-style prompts, and code completion.</p>

<blockquote>
  <p>[!div class="mx-imgBorder"]<br />
  <img src="../media/2-html-editor.png" alt="Screenshot of the HTML editor in Eclipse, showing IntelliSense-style prompts." /></p>
</blockquote>

<p>A dynamic web page contains a mixture of HTML markup and Java code. You add Java code to a web page using JSP tags. For example, the following steps describes how and when you might use these tags:</p>

<ul>
<li><p>To import Java libraries, you would use the <code>&lt;%@ page ... %&gt;</code> directive. In the following example, the <em>java.util</em> library is imported by adding the directive to the start of the page:</p>

<p><code>java<br />
&lt;%@ page import ="java.util.*" %&gt;<br />
</code></p></li>
<li><p>To declare static variables, you would use a pair of <code>&lt;%!</code> and <code>%&gt;</code> tags, and you can initialize variables at the same time. For example, in the following code excerpt, <em>counter</em> is an integer variable, and <em>currencies</em> is a set that contains the details of each currency that is available in the <em>java.util</em> library.</p>

<p><code>java<br />
&lt;%! int counter;<br />
    Set&lt;Currency&gt; currencies = Currency.getAvailableCurrencies(); %&gt;<br />
</code></p>

<p>Note the values of these static variables are only initialized once, and they're preserved between invocations of the web app.</p></li>
<li><p>To add procedural code, you would include your code within a pair of <code>&lt;%</code> and <code>%&gt;</code> tags, and procedural code can be wrapped around regular HTML markup. For example, in the following code excerpt, the <code>for</code> loop iterates through the contents of the <em>currencies</em> set, and outputs an HTML paragraph during each iteration. The <em>counter</em> variable keeps track of the number of iterations made:</p>

<p><code>java<br />
&lt;% counter = 1;<br />
   for(Currency currency : currencies){ %&gt;<br />
    &lt;p&gt;Currency is TBD &lt;/p&gt;<br />
&lt;%  counter++;<br />
  } %&gt;<br />
</code></p></li>
<li><p>To display the results of a Java function or expression, you can use a pair of <code>&lt;%=</code> and <code>%&gt;</code> expression tags, as shown below:</p>

<p>```java<br />
&lt;% for(Currency currency : currencies){ %></p>

   <p>Currency is <%= currency.toString() %> </p>

<p>&lt;%   counter++;<br />
  } %></p>

<p> There are <%= counter %> currencies available.</p>

<p>```</p></li>
</ul>

<p>The following JSP page shows a complete example. The page retrieves a list of currencies using the <strong>Currency.getAvailableCurrencies</strong> method from the <strong>java.util</strong> library. The code generates HTML markup that displays the currencies as a set of HTML paragraphs, with a summary at the end that counts the number of currencies displayed:</p>

<p>```java<br />
&lt;%@ page language="java" contentType="text/html; charset=UTF-8"<br />
    pageEncoding="UTF-8"%><br />
&lt;%@ page import ="java.util.*" %><br />
<!DOCTYPE html><br />
<html><br />
<head><br />
<meta charset="UTF-8"><br />
<title>Currency Lister</title><br />
</head><br />
<body><br />
  &lt;%! int counter;<br />
      Set<Currency> currencies = Currency.getAvailableCurrencies(); %></p>

<p>&lt;% counter = 1;<br />
   for(Currency currency : currencies){ %><br />
        <p>Currency is &lt;%= currency.toString() %> </p><br />
  &lt;%    counter++;<br />
    } %></p>

  <p> There are <%= counter %> currencies available.</p>

<p></body><br />
</html><br />
```</p>

<p>The output generated by this code is shown in the next section.</p>

<h2>How to test a web app locally</h2>

<p>To test a web app, on the <strong>Run</strong> menu, select <strong>Run</strong>, or select the <strong>Run</strong> button in the toolbar. You'll be prompted for the server to use to run the web app. The default is the same as the server runtime that you specified when you created the project.</p>

<blockquote>
  <p>[!div class="mx-imgBorder"]<br />
  <img src="../media/2-select-tomcat-server.png" alt="Screenshot of the <strong>Run On Server</strong> window in Eclipse. The user has selected the local Tomcat server." /></p>
</blockquote>

<p>Select <strong>Finish</strong> to start the web app. If the server is currently stopped, it will be started. Then, the web app will run, and the results will appear in a browser window in Eclipse. The results should look similar to the following:</p>

<blockquote>
  <p>[!div class="mx-imgBorder"]<br />
  <img src="../media/2-dynamic-app-results.png" alt="Screenshot of the static web app running in the browser window in Eclipse." /></p>
</blockquote>
