log/
obj/
raw/
viewmodel/
_model/
_viewmodel/
_site/
.optemp/
_themes*/
_dependentPackages/

.openpublishing.buildcore.ps1
**/.vscode/
.devcontainer/
.vs/
.DS_Store
Thumbs.db
*.bak
.fake

######################
# IntelliJ
######################
.idea/
*.iml
*.iws
*.ipr
*.ids