extends layout

block content
  div.text-center
    h1.display-4 About Contoso Fashions
    div.text-center
       br
       p Contoso Fashions is currently re-branding, and we will be using this as an opportunity to bring new purchasing, tracking, and social media features to our online services.
       br
       p The company has won several prestigious and influential industry and consumer awards for the high standard of our online customer experience.
       script
           console.log("Log from about page")
           console.error("Error from about page")
