extends layout

block content
  div.text-center
    h1.display-4 Contact Contoso Fashions
    address
        p 4567 Main St
        p Buffalo, NY 98052
        p Phone: 555-0100
        br
        script
            console.log("Log from contact page")
            console.error("Error from contact page")
        p Support: <a href="mailto:Support@contoso.com")>Support@contoso.com</a> 

        p Marketing: <a href="mailto:Marketing@contoso.com")>Marketing@contoso.com</a> 