doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/dist/css/bootstrap.css')
    script(src='/stylesheets/bootstrap/dist/js/bootstrap.bundle.js')
  body
    include header
    block content
    include footer