[Unit]
Description=Shipping portal web application

[Service]
WorkingDirectory=/var/www/shippingportal
ExecStart=/usr/bin/dotnet /var/www/shippingportal/ShippingPortal.dll --server.urls "https://*:5001"
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=shippingportal
User=azureuser
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
