@using Humanizer.Core
@page "/notifications"

<PageTitle>Notifications</PageTitle>

<div class="container-fluid">
    <code class="h5">
        <span class="font-weight-bold">SignalR Server Connection State:</span> &nbsp;
        @if (_connectionStatus.IsConnected)
        {
            <span class="oi oi-link-intact text-success"></span>
        }
        else
        {
            <span class="oi oi-link-broken text-danger"></span>
        }
        &nbsp;
        <span>@_connectionStatus.Message</span>
    </code>
</div>
<table class="table table-sm table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">Text</th>
            <th scope="col">Arrived</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var notification in _notifications)
        {
            <tr>
                <td>@notification.Message</td>
                <td>@notification.IssuedOn.Humanize()</td>
                <td>@mdo</td>
            </tr>
        }
    </tbody>
</table>
