@page
@model ExternalModel
@{
    ViewData["Title"] = "External companies";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <p>Enter patient number to retrieve scanned images.</p>
    <div class="row mt-3">
        <form id="getPatientImage">
        <div class="form-group">
            <label for="patientID">Patient reference</label>
            <input type="text" class="form-control" id="patientID" aria-describedby="help" placeholder="patient-nnnnnn">
            <small id="help" class="form-text text-muted">Ensure you have been given a vaild id.</small>
        </div>
        <div class="form-group mb-5">
            <label for="secureID">Secret</label>
            <input type="text" class="form-control" id="secureID" aria-describedby="helpPass" placeholder="password">
            <small id="helpPass" class="form-text text-muted">Enter the secure password sent to you.</small>
        </div>
        <button id="btn-submit" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="row mt-5">
        <div id="result" role="alert"></div>
    </div>
</div>

<script>
    $(function () {
        $('#getPatientImage').submit(function(e) {
            e.preventDefault();
            $('#result').empty();
            $('#result').removeClass();

            if ($('#secureID').val() != "") {
                $.get('api/PatientRecords/' + $('#patientID').val() + '/' + $('#secureID').val(), function (data) {
                    if (data != null) {
                        $('#result').html('<img src="' + data.imageURI + '" class="rounded mx-auto d-block" alt="brain scan" />');
                        $('#result').addClass("alert alert-success");
                    } else {
                        $('#result').html('Invalid password - please try again.');
                        $('#result').addClass("alert alert-danger");                        
                    }
                }, 'json');
            } else {
                $.get('api/PatientRecords/' + $('#patientID').val(), function (data) {
                    $('#result').html('<img src="' + data.imageURI + '" class="" alt="brain scan" //>');
                    $('#result').addClass("alert alert-danger");
                }, 'json');
            }
        });
    });
</script>