<!-- <snippet_ModelIsAdmin> -->
<td>
    @if (Model.IsAdmin)
    {
    <a asp-page="Edit" asp-route-id="@product.Id">Edit</a> <span>|</span>
    <a href="#" onclick="deleteProduct('@product.Id', antiForgeryToken())">Delete</a>
    }
</td>
<!-- </snippet_ModelIsAdmin> -->

<!-- <snippet_AddProductLink> -->
@if (Model.IsAdmin)
{
<a asp-page="./Create">Add Product</a>
}
<!-- </snippet_AddProductLink> -->
